<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="JewtoonzMaster.master.cs" Inherits="JewtoonzASP.JewtoonzMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <header>
        <div class="headerTitle"></div>
        <div class="headerLogo"></div>
    </header>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
    <footer></footer>
</body>
</html>
