body {
    background-color: #ADFF12;
    font-size: 17px;
    font-family: 'Coiny', cursive;
}

.header {
    /*background-color: slateblue;*/
}

#headerLogo {
    display: block;
    margin: auto;
    width: 50%;
}

.img {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

.footer {
    text-align: center;
}
