body {
    background-color: #ADFF12;
    font-size: 17px;
    font-family: 'Coiny', cursive;
}

.header {
    /*background-color: slateblue;*/
}

#headerLogo {
    display: block;
    margin: auto;
    width: 50%;
}

.img {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

.footer {
    text-align: center;
}

#ContactForm TextBox{
    float: right;
}

.adminButton{
    width: 30%;
    margin-left: 35%;
    background-color: #ff80c6;
    border-color: #FF1294;
    border-radius: 25px;
    font-family: 'Coiny', cursive;
}